body {
  padding-top: 60px;
  /*width: 80%;*/
}
.footer-bottom {
  background-color: #f1f1f1;
  margin-top: 20px;
  width: 100% !important;
  bottom: 0;
  position: inherit;
  padding: 20px 30px;
}
h1, h2, h3 {
  border-bottom: 1px solid #eeeeee;
  padding: 0.2em 0;
}
h2 {
  border-left: 3px solid #337ab7;
  padding-left: 0.5em;
  background-color: #f5f5f5;
}