    <div class="modal-header state modal-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-large-label">当前测试任务标题</h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal form-stripe">
                    <div class="form-group">
                        <label for="select2-example-basic" class="col-sm-3 control-label">测试流量</label>
                        <div class="col-sm-9">
                            <label class="checkbox-inline">10 GLAN</label>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="select2-example-basic" class="col-sm-3 control-label">Session数</label>
                        <div class="col-sm-9">
                            <label class="checkbox-inline">10000</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>